<%- include('header.ejs'); -%>


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<a href="/cart">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Your Cart</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
									<th class="product-th">Product</th>
									<th class="total-th">Price</th>
								</tr>
							</thead>
							<tbody>
								<%for(var i=0;i< item.length;i++){ %>
								<tr>
									<td class="product-col">
										<img src="img/product/<%=item[i].image%>" alt="">
										<div class="pc-title">
											<h4><%=item[i].name%></h4>
										</div>
									</td>
									<td class="total-col"><h4>₹ <%=item[i].cost%></h4></td>
								</tr>
								<%}%>
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>₹ <%=allItems.total%></span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<a href="/checkout" class="site-btn">Proceed to checkout</a>
					<a href="/category" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

<%- include('footer'); -%>