<%- include('header.ejs'); -%>


<!-- Page info -->
<div class="page-top-info">
	<div class="container">
		<h4>Category Page</h4>
		<div class="site-pagination">
			<a href="/">Home</a> /
			<a href="/category">Shop</a> /
		</div>
	</div>
</div>
<!-- Page info end -->


<!-- Category section -->
<section class="category-section spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 order-2 order-lg-1">
				<div class="filter-widget">
					<h2 class="fw-title">Categories</h2>
					<ul class="category-menu">
						<!-- <li><a href="#">Woman wear</a>
								<ul class="sub-menu">
									<li><a href="#">Midi Dresses <span>(2)</span></a></li>
									<li><a href="#">Maxi Dresses<span>(56)</span></a></li>
									<li><a href="#">Prom Dresses<span>(36)</span></a></li>
									<li><a href="#">Little Black Dresses <span>(27)</span></a></li>
									<li><a href="#">Mini Dresses<span>(19)</span></a></li>
								</ul>
							</li> -->
						<% for(var i=0;i< category.length;i++){%>
						<li><a href="/category/<%=category[i].cat_id%>"><%=category[i].Category%></a></li>
						<%}%>
						</ul>
					</div>
					
				</div>
				
				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					<div class="row">
						<% for(var i=0;i< products.length;i++) { %>
						<div class="col-lg-4 col-sm-6">

							<div class="product-item">
								<div class="pi-pic">
									<a href="/product/<%=products[i].p_id%>"><img
											src="./img/product/<%=products[i].image%>" alt=""></a>
								</div>
								<div class="pi-text">
									<h6><%=products[i].cost%></h6>
									<a href="/product/<%=products[i].p_id%>">
										<p><%=products[i].name%></p>
									</a>
								</div>
							</div>
						</div>
						<%}%>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

 <%- include('footer'); -%>