<%- include('header.ejs'); -%>



	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Category Page</h4>
			<div class="site-pagination">
				<a href="/">Home</a> /
				<a href="/category">Shop</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- product section -->
	<section class="product-section">
		<div class="container">
			<div class="back-link">
				<a href="/category"> &lt;&lt; Back to Category</a>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src="img/product/<%=product.image%>" alt="">
					</div>
				</div>
				<div class="col-lg-6 product-details">
					<h2 class="p-title"><%=product.name%></h2>
					<h3 class="p-price"> ₹<%=product.cost%></h3>
					<a id="addToCart" class="site-btn">ADD TO CART</a>
					<p id="cartStatus"></p>
					<script src="https://code.jquery.com/jquery-3.4.1.js"
							integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
							crossorigin="anonymous">
					</script>
					<script>
						$("#addToCart").click(function () {  
							console.log("Req sent")
							$.post("/cart", {
								p_id: "<%=product.p_id%>"
							}, function (data, status) {
								console.log(status);
								if(status=="success"){
									window.alert("Product added to cart !");
								}
								else if(data.message=="unauthorized"){
									window.location.href = "/Login";
								}
							});
						});
					</script>
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									<p><%=product.DescriptionLong%></p>
								</div>
							</div>
						</div>
						<div class="panel">
							<div class="panel-header" id="headingThree">
								<button class="panel-link" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3">shipping & Returns</button>
							</div>
							<div id="collapse3" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="panel-body">
									<h4>7 Days Returns</h4>
									<p>Cash on Delivery Available<br>Home Delivery <span>3 - 4 days</span></p>
									<p>We take full guarantee of the product delivery. The product will be delivered by our trusted agents.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->


    <%- include('footer'); -%>